<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Bank Manager Login Test">
        <classes>
            <class name="testscases.BankManagerLoginTest">
            </class>
        </classes>
    </test>

    <test name="Add Customer Test">
        <classes>
            <class name="testscases.AddCustomerTest">
            </class>
        </classes>
    </test>
</suite>